<mat-toolbar color="primary">

<mat-toolbar-row>
  <span routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Kinoteatr</span>
  <span class="fill-remaining-space"></span>
  <button mat-button routerLink="cart" routerLinkActive="active" id="cart-button">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar-row>

<mat-toolbar-row>
  <button mat-button routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-button [matMenuTriggerFor]="categoriesMenu" id="categories-button"><span>Categories</span>
  </button>
  <mat-menu #categoriesMenu="matMenu">
    <button *ngFor="let category of categories"
    mat-menu-item
    routerLink="category/{{ category.name | lowercase }}"
    routerLinkActive="active" id="{{ category.name | lowercase }}-category-button">
      {{ category.name }}
    </button>
  </mat-menu>
  <button mat-button>
    <app-search></app-search>
  </button>
</mat-toolbar-row>

</mat-toolbar>
